header.header#header
  .header-flex
    nav.navbar-wrap
      .logo-wrap
        h1.main-logo-title 코드스페이스
        img.main-logo-img(src="/assets/img/branding/logo.png" width="28px" height="28px" alt='로고')
      .header-menu-wrap 
        a.header-menu-items(href=routes.home) 홈
        a.header-menu-items(href=routes.adminProduct) 상품
        if isLogin
          a.header-menu-items(href=routes.logout) 로그아웃
        else
          a.header-menu-items(href=routes.login) 로그인